body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("Pics/beograd.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

h1, h3 {
  text-align: center;
  color: #000000;
}

form {
  width: 30vw;
  margin: 20px auto;
  background-color: rgba(53, 53, 53, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

form:hover {
  background-color: #454545;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #1abc9c;
}

select,
input[type="text"],
input[type="number"],
input[type="submit"],
button,
input[type="checkbox"] {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid #555;
  border-radius: 6px;
  background-color: rgba(45, 45, 45, 0.9);
  color: #1abc9c;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

select:focus,
input:focus,
button:focus {
  outline: none;
  border-color: #1abc9c;
}

.button-container {
  text-align: center;
}

#map{
  width: 30vw;
  height: 30vw;
  margin: auto;
  border: 2px solid black;
}

#result {
  color: #1abc9c;
  /*max-width: 800px;*/
  width: fit-content;
  margin: 20px auto;
  background-color: rgba(53, 53, 53, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#result:hover {
  background-color: #454545;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

#tabela {
  width: 100%;
  margin-top: 20px;
  color: white;
  font-size: large;
  border: 2px solid black;
  font-weight: bold;
  text-transform: uppercase;
  margin: auto;
  display: none;
}

th, td {
  border: 1px solid #555;
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #1abc9c;
  color: #fff;
}

@media screen and (max-width: 1400px) {
  form {
    box-sizing: border-box;
    width: 94vw;
  }
  #map {
    box-sizing: border-box;
    width: 90vw;
    height: 50vh;
  }
  #submit {
    width: 35%;
  }
}